<section (inView)="isInView.set(true)" [class.in-view]="isInView()" class="page-section"
         id="experiences" portfolioInView>
  <h1 class="experiences-title">{{ title() }}</h1>

  <div #cardsContainer class="experiences-content">
    <portfolio-timeline [dotsCount]="experiences().length" [height]="timelineHeight()"
                        [top]="timelineStartingPosition()"></portfolio-timeline>

    <div class="experiences-cards-list">
      @for (experience of experiences(); track experience.id) {
        <article #card class="experiences-card">
          <div class="experiences-card-content">
            <h2>{{ experience.title }}</h2>
            <p>{{ experience.description }}</p>
            <div class="chips">
              @for (tech of experience.technologies; track tech) {
                <span class="chip">{{ tech }}</span>
              }
            </div>
          </div>
          <div class="logo-container">
            <!-- TODO Add width and height based on the image size -->
            <img [alt]="experience.company + ' logo'" [src]="experience.logo">
          </div>
        </article>
      }
    </div>
  </div>
</section>
