.self-writing-text {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, var(--brilliant-azure-600), var(--brilliant-azure-900));
}

:host-context([data-theme='dark']) .self-writing-text {
  background-image: linear-gradient(to bottom, var(--brilliant-azure-300), var(--brilliant-azure-600));
}

.vertical-bar {
  display: inline-block;
  width: 0.1875rem;
  height: 0.95em;
  margin-left: 0.05em;
  vertical-align: top;
  background-color: var(--text-color);
  animation: blink 1s steps(1, end) infinite;

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
