<section (inView)="isInView.set(true)" [class.in-view]="isInView()" class="about-section" id="about" inView>
  <figure class="picture-frame">
    <img alt="Portrait de Pierre" class="profile-picture" fill ngSrc="images/home/profile-picture.jpg"/>
  </figure>
  <div class="about-content">
    <h2 class="about-title">À propos</h2>
    <p class="about-text">
      Salut ! Je m'appelle <b>Pierre Chevallier</b> 😁, j'ai {{ age }} ans et je suis <b>développeur full stack</b> 👨‍💻 à
      Grenoble.
    </p>
    <p class="about-text">
      Je suis passionné de développement web, fan de design mais aussi de nouvelles technologies et de développement
      personnel. J'ai découvert le développement front-end lors de mes études, et suis tombé amoureux de ce domaine qui
      mêlait 2 de mes passions : l'informatique 💻 et le design 🎨.
    </p>
    <p class="about-text">
      J'ai étudié en master MIAGE pour en apprendre plus sur l'informatique, l'ingénierie, le management et la gestion
      d'entreprise 👨‍🎓.
    </p>
    <p class="about-text">
      Dans la vie, je suis quelqu'un d'optimiste, dévoué, rigoureux et qui adore apprendre. Je me donne à fond pour
      développer mes compétences dans ce domaine qui m'anime : le développement ❤️.
    </p>
  </div>
</section>
