@use 'slide-down' as *;

.header {
  position: sticky;
  top: 1rem;
  z-index: 1;

  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    border-radius: 3rem;
    transition: all 0.2s linear;
    --pad: clamp(1rem, 0.4rem + 1vw, 1.5rem);
    padding: var(--pad) calc(var(--pad) * 1.2);

    &.blurred::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: inherit;
      z-index: -1;
      background-color: var(--surface-color-1);
      box-shadow: var(--shadow);
      border: var(--edge-highlight);
      backdrop-filter: blur(20px) saturate(1.7);
      -webkit-backdrop-filter: blur(20px) saturate(1.7);
    }

    .logo-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: clamp(0.8rem, 0.3rem + 1vw, 1.5rem);
      margin-right: 1.5rem;
      font-weight: bold;
      transition: all 0.1s ease-in-out;
      position: relative;
      @include slide-down-animation;
      animation-delay: 200ms;
      font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.125rem);

      .logo {
        border-radius: 50%;
        height: auto;
        width: clamp(2rem, 1rem + 1.8vw, 3rem);
        position: relative;
        transition: all 0.1s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      .navbar-title {
        transition: all 0.1s ease-in-out;

        &:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05);
        }
      }
    }

    .hamburger-button {
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: transparent;
      border: none;
      display: none;
      position: relative;
      z-index: 2;
      animation-delay: 0.5s;
      @include slide-down-animation;

      .line {
        width: 2.5rem;
        height: 0.25rem;
        border-radius: 0.3rem;
        background-color: var(--text-color);
        display: block;
        margin: 0.5rem auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      &.opened .line {
        &:nth-child(1) {
          -webkit-transform: translateY(0.8125rem) rotate(45deg);
          -ms-transform: translateY(0.8125rem) rotate(45deg);
          -o-transform: translateY(0.8125rem) rotate(45deg);
          transform: translateY(0.8125rem) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          -webkit-transform: translateY(-0.8125rem) rotate(-45deg);
          -ms-transform: translateY(-0.8125rem) rotate(-45deg);
          -o-transform: translateY(-0.8125rem) rotate(-45deg);
          transform: translateY(-0.8125rem) rotate(-45deg);
        }
      }
    }

    .navbar-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      flex: 1;
      list-style: none;
      max-width: clamp(60rem, 57rem + 4.5vw, 70rem);

      > :nth-last-child(n + 3) {
        margin: 0 0.5rem;

        .navbar-link {
          font-size: clamp(.5rem, .5rem + .5vw, 1.125rem);
        }
      }

      .navbar-item {
        display: flex;
        align-items: center;

        .navbar-link {
          text-decoration: none;
          font-weight: bold;
          transition: all 0.1s ease-in-out;
          position: relative;
          z-index: 1;

          &:hover {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
            scale: 1.05;
          }
        }
      }

      .separator {
        width: 0.0625rem;
        height: 2.5rem;
        background-color: rgb(from currentColor r g b / 0.5);
        opacity: 0.5;
        flex: 0 0 0.0625rem;
      }
    }

    .sliding-down-links > * {
      @include slide-down-animation;

      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: (200ms * ($i + 1));
        }
      }
    }
  }
}

@media screen and (max-width: 62.5rem) {
  .header {
    .navbar {
      --pad: 1rem;

      .logo-link {
        margin: 0;

        .logo {
          width: 3rem;
        }

        .navbar-title {
          display: none;
        }
      }

      .hamburger-button {
        display: block;
      }

      .navbar-menu {
        position: fixed;
        right: -100%;
        top: 0;
        height: 100dvh;
        width: 100%;
        flex-direction: column;
        background-color: var(--background-color);
        text-align: center;
        transition: 0.3s;
        z-index: 1;
        margin: 0;
        flex: initial;
        max-width: none;

        &.active {
          right: 0;
        }

        .navbar-item {
          margin: auto 0;

          &:first-child {
            margin-top: 6.5rem;
          }

          &:last-child {
            margin-bottom: 4rem;
          }

          .navbar-link {
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
          }
        }

        .separator {
          height: 0.0625rem;
          width: 50%;
          rotate: 180deg;
          margin: 1.5rem 0;
        }
      }
    }
  }
}
