<header class="header">
  <nav [class.blurred]="hasScrolledAfterThreshold()" class="navbar">
    <a [title]="homeSectionTitle()" class="logo-link" href="/">
      <img [alt]="logoAlt()" class="logo" height="48" ngSrc="images/header/logo.png" priority
           width="48"/>
      <span class="navbar-title">Pierre Chevallier</span>
    </a>

    <button (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpened()" [attr.aria-label]="menuButtonLabel()"
            [class.opened]="isMenuOpened()" aria-controls="header-nav-links-menu" class="hamburger-button"
            type="button">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <ul [class.active]="isMenuOpened()" class="navbar-menu sliding-down-links" id="header-nav-links-menu">
      @for (link of navLinks(); track link.id) {
        <li class="navbar-item">
          <a (click)="closeMenu()" [href]="link.href" class="navbar-link">
            {{ link.text }}
          </a>
        </li>
      }
      <li aria-hidden="true" class="separator"></li>
      <li class="navbar-item">
        <portfolio-language-switcher (clicked)="closeMenu()"/>
      </li>
      <li class="navbar-item">
        <portfolio-theme-toggle (clicked)="closeMenu()"/>
      </li>
    </ul>
  </nav>
</header>
