.language-button {
  anchor-name: --language-button;
}

.popover:popover-open {
  position: fixed;
  position-anchor: --language-button;
  position-area: bottom center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--background-color);
  box-shadow: var(--shadow);
  border: var(--border);
  display: flex;
  flex-direction: column;
  overflow: visible;

  &::backdrop {
    background: transparent;
  }

  .popover-option {
    border: none;
    background: transparent;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-size: var(--font-size-extra-small);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: var(--text-color);

    &:hover {
      background: var(--button-background-color-hover);
      color: var(--text-color-hover);
    }

    &-active {
      background: var(--button-background-color-hover);
      font-weight: 600;
    }
  }
}
