.language-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  border: 0.125rem solid transparent;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  --size-desktop: clamp(1rem, 1rem + 0.5vw, 2.25rem);
  height: var(--size-desktop);
  width: var(--size-desktop);
  justify-content: center;
  anchor-name: --language-button;

  svg {
    height: var(--size-desktop);
    width: var(--size-desktop);

    &:hover {
      color: var(--text-color-hover);
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
      transform: scale(1.15);
    }
  }
}

@media screen and (max-width: 62.5rem) {
  .language-button {
    --size-mobile: 2rem;
    height: var(--size-mobile);
    width: var(--size-mobile);

    svg {
      height: var(--size-mobile);
      width: var(--size-mobile);
    }
  }
}

.popover:popover-open {
  position: fixed;
  position-anchor: --language-button;
  position-area: bottom center;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background: var(--background-color);
  box-shadow: var(--shadow);
  border: var(--border);
  display: flex;
  flex-direction: column;
  overflow: visible;

  &::backdrop {
    background: transparent;
  }

  .popover-option {
    border: none;
    background: transparent;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-size: var(--font-size-small);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    color: var(--text-color);

    &:hover {
      background: var(--button-background-color-hover);
      color: var(--text-color-hover);
    }

    &-active {
      background: var(--button-background-color-hover);
      font-weight: 600;
    }
  }
}
