.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10vh;
  width: 80vw;

  .profile-picture {
    height: auto;
    width: 28.125rem;
    max-width: 45vh;
    position: relative;
    z-index: 1;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .home-wrapper {
    flex-direction: column;

    .profile-picture {
      max-width: 70vw;
    }
  }
}

.home-title {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  margin: 0 0 2rem;

  .name {
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &.dark {
      background-image: linear-gradient(to bottom, var(--pine-teal-50), var(--pine-teal-200));
    }

    &.light {
      background-image: linear-gradient(to bottom, var(--soft-linen-800), var(--soft-linen-950));
    }
  }
}

@media screen and (max-width: 768px) {
  .home-title {
    font-size: 2.5rem;
    min-height: 15rem;
    margin: 0 0 1.5rem;
  }
}
