.self-writing-text {
  color: transparent;
  background-clip: text;

  &.dark {
    background-image: linear-gradient(to bottom, var(--pine-teal-50), var(--pine-teal-200));
  }

  &.light {
    background-image: linear-gradient(to bottom, var(--soft-linen-800), var(--soft-linen-950));
  }
}

.vertical-bar {
  color: var(--text-color);
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
