.self-writing-text {
  color: transparent;
  background-clip: text;

  &.dark {
    background-image: linear-gradient(to bottom, var(--blush-rose-200), var(--blush-rose-500));
  }

  &.light {
    background-image: linear-gradient(to bottom, var(--brilliant-azure-600), var(--brilliant-azure-950));
  }
}

.vertical-bar {
  display: inline-block;
  width: 3px;
  height: 0.95em;
  margin-left: 0.05em;
  vertical-align: top;
  background-color: var(--text-color);
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
