@use 'hover-translate' as *;

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  scroll-margin-top: 7rem;

  @media screen and (max-width: 62.5rem) {
    width: 90vw;
    scroll-margin-top: 6rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.icon-toggle-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  border: 0.125rem solid transparent;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  --size-desktop: clamp(1rem, 1rem + 0.5vw, 2.25rem);
  height: var(--size-desktop);
  width: var(--size-desktop);
  justify-content: center;

  svg {
    height: var(--size-desktop);
    width: var(--size-desktop);
    @include hover-translate;

    &:hover {
      color: var(--text-color-hover);
    }
  }
}

@media screen and (max-width: 62.5rem) {
  .icon-toggle-button {
    --size-mobile: 2rem;
    height: var(--size-mobile);
    width: var(--size-mobile);

    svg {
      height: var(--size-mobile);
      width: var(--size-mobile);
    }
  }
}
