@use 'slide-down' as *;

:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(90vh - 5rem);
  align-items: center;
  justify-content: center;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title portrait"
    "about about";
  align-items: center;
  margin: 10vh auto;
  width: 80vw;
  column-gap: 3rem;
  scroll-margin-top: 14rem;

  .home-title {
    @include slide-down-hidden;
    width: 100%;
    position: relative;
    font-size: clamp(3rem, 0.5rem + 5vw, 10rem);
    letter-spacing: -0.125rem;
    margin: 0 0 2rem;
    grid-area: title;
    text-align: start;
  }

  .portrait {
    @include slide-down-hidden;
    grid-area: portrait;
    position: relative;
    margin: 0;

    .profile-picture {
      height: auto;
      width: 28.125rem;
      max-width: 45vh;
      display: block;
      border-radius: 50%;
      box-shadow: var(--shadow);
    }

    .star-icon {
      position: absolute;
      height: auto;
      transition: all 0.1s ease-in-out;

      &:hover {
        filter: drop-shadow(0 0 0.625rem white);
        scale: 1.15;
      }

      &.left {
        rotate: -4deg;
        top: 70%;
        left: 0;
        width: 4.5rem;
        animation: 10s ease-in-out infinite float-left;

        @keyframes float-left {
          0%,
          100% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(-1rem) rotate(-8deg);
          }
        }
      }

      &.right {
        rotate: 4deg;
        top: 10%;
        right: 0;
        width: 3.5rem;
        animation: 10s ease-in-out infinite float-right;

        @keyframes float-right {
          0%,
          100% {
            transform: translateY(0);
          }

          50% {
            transform: translateY(1rem) rotate(8deg);
          }
        }
      }
    }
  }

  .about-link {
    @include slide-down-hidden;
    grid-area: about;
    text-decoration: none;
    border: 0.125rem solid var(--text-color);
    border-radius: 2rem;
    background-color: transparent;
    font-weight: bold;
    padding: 1rem 1.5rem;
    transition: all 0.1s ease-in-out;
    width: fit-content;
    justify-self: center;
    box-shadow: var(--shadow);

    &:hover {
      background-color: var(--button-background-color-hover);
      color: var(--text-color-hover);
      border: 0.125rem solid var(--text-color-hover);
    }
  }

  &.in-view {
    .home-title {
      @include slide-down-animation;
      animation-delay: 200ms;
    }

    .portrait {
      @include slide-down-animation;
      animation-delay: 600ms;
    }

    .about-link {
      @include slide-down-animation;
      animation-delay: 1000ms;
    }
  }
}

@media (min-width: 62rem) {
  .home-title {
    letter-spacing: -0.25rem;
  }
}

@media screen and (max-width: 48rem) {
  :host {
    min-height: auto;
    padding: 1rem;
  }

  .home-section {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "portrait"
      "about";
    justify-items: center;
    gap: 2rem;
    margin: 0 auto;
    width: auto;
    text-align: center;
    column-gap: 0;
    scroll-margin-top: 8rem;

    .home-title {
      margin: 0;
      text-align: center;
    }

    .about-link {
      margin-left: 0;
    }

    .portrait {
      .profile-picture {
        max-width: 80vw;
      }
    }
  }
}
