@use 'slide-down' as *;

.about-section {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  min-height: 100vh;

  .picture-frame {
    @include slide-down-hidden;
    position: relative;
    margin: 0;
    width: 20rem;
    max-width: 40vw;
    aspect-ratio: clamp(2 / 3, calc(2 / 3 + (1200px - 100vw) / (1200px - 400px) * (1 / 3)), 1);
    overflow: hidden;
    border-radius: 1.5rem;

    .profile-picture {
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .about-content {
    display: flex;
    flex-direction: column;

    .about-title {
      @include slide-down-hidden;
      margin-bottom: 1.5rem;
    }

    .about-text {
      @include slide-down-hidden;
      margin: 0;
      line-height: 1.8;
    }
  }

  &.in-view {
    .about-title {
      @include slide-down-animation;
      animation-delay: 200ms;
    }

    .about-text {
      @include slide-down-animation;
      animation-delay: 600ms;
    }

    .picture-frame {
      @include slide-down-animation;
      animation-delay: 1000ms;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-section {
    grid-template-columns: 1fr;
    gap: 2rem;

    .picture-frame {
      max-width: 80vw;
      justify-self: center;
    }
  }
}
