@use 'slide-down' as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: linear-gradient(to bottom, transparent 0%, var(--surface-color-1) 50%);
  padding: clamp(1.25rem, 0.8rem + 1vw, 2rem);
  padding-top: 5rem;
  text-align: center;

  &.in-view {
    .footer-line {
      @include slide-down-animation;
      @for $i from 3 through 1 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i * 200}ms;
        }
      }
    }
  }

  .footer-line {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    margin: 0;
    font-size: var(--font-size-extra-small);
  }
}

@media screen and (max-width: 48rem) {
  .footer {
    gap: 1rem;
  }
}
