<section (inView)="isInView.set(true)" [class.in-view]="isInView()" class="experiences-section" id="experiences" inView>
  <h1 class="experiences-title">{{ title() }}</h1>

  <div #cardsContainer class="experiences-container">
    <timeline [dotsCount]="experiences().length" [height]="timelineHeight()"
              [top]="timelineStartingPosition()"></timeline>

    <div class="cards">
      @for (experience of experiences(); track experience.id) {
        <article #card class="experience-card">
          <div class="content">
            <h2>{{ experience.title }}</h2>
            <p>{{ experience.description }}</p>
            <div class="chips">
              @for (tech of experience.technologies; track tech) {
                <span class="chip">{{ tech }}</span>
              }
            </div>
          </div>
          <div class="logo-container">
            <img [alt]="experience.company + ' logo'" [src]="experience.logo">
          </div>
        </article>
      }
    </div>
  </div>
</section>
