.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
  border: 0.125rem solid var(--border-color);
  border-radius: 50%;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--bg-hover-color);
  }

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
