.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  border: 0.125rem solid transparent;
  border-radius: 1.5rem;
  background-color: transparent;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  --size-desktop: clamp(1rem, 1rem + 0.5vw, 2.25rem);
  height: var(--size-desktop);
  width: var(--size-desktop);
  justify-content: center;

  &:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
  }

  svg {
    height: var(--size-desktop);
    width: var(--size-desktop);
  }
}

@media screen and (max-width: 768px) {
  .theme-toggle {
    --size-mobile: 2rem;
    height: var(--size-mobile);
    width: var(--size-mobile);

    svg {
      height: var(--size-mobile);
      width: var(--size-mobile);
    }
  }
}
