.timeline {
  display: flex;
  justify-content: center;
  position: relative;
}

.line {
  position: relative;
  width: 4px;
  background: var(--background-color);
  border-radius: 999px;
  box-shadow: var(--shadow);
  overflow: visible;
  transition: height 2s ease;

  &-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to bottom, var(--pine-teal-800), var(--pine-teal-400));
    transition: height 0.2s ease;
  }

  :host-context([data-theme='dark']) &-fill {
    background: linear-gradient(to bottom, var(--soft-linen-200), var(--soft-linen-600));
  }
}

.dot {
  position: absolute;
  left: 50%;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: var(--background-color);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

  &-active {
    background: var(--text-color);
    box-shadow: var(--shadow);
  }
}
