.timeline {
  display: flex;
  justify-content: center;
  position: relative;
}

.line {
  position: relative;
  width: 0.25rem;
  background: var(--background-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(from var(--pine-teal-950) r g b / 0.5);
  overflow: visible;
  transition: height 2s ease;

  &-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to bottom, var(--pine-teal-800), var(--pine-teal-400));
    transition: height 0.2s ease;
  }

  :host-context([data-theme='dark']) &-fill {
    background: linear-gradient(to bottom, var(--soft-linen-200), var(--soft-linen-600));
  }
}

:host-context([data-theme='dark']) .line {
  background: var(--pine-teal-400);
}

.dot {
  position: absolute;
  left: 50%;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--background-color);
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;

  &-active {
    background: var(--text-color) !important;
    box-shadow: 0 0 1rem rgb(from var(--pine-teal-950) r g b / 0.8);
  }
}

:host-context([data-theme='dark']) .dot {
  background: var(--pine-teal-400);
}
